<ion-header>
  <ion-toolbar>
    <ion-title>Route map</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid no-padding>
      <ion-row class="loader" *ngIf='!isMapLoaded' justify-content-center align-items-center >
          <ion-spinner class="center" name="dots"></ion-spinner>
        </ion-row>
    <ion-row [attr.display]="isMapLoaded ? 'block' : 'none'">
        <div id="map" #map></div>
    </ion-row>
    <ion-row class="nav" [attr.visibility]="isMapLoaded ? 'visible' : 'hidden'" justify-content-center align-items-center>
        <ion-button
        (click)="selectType(types.drive)"           
        fill="outline"
        [attr.color]="selectedType===types.drive ? 'primary' : 'medium'"
        size="small"><ion-icon name="car"></ion-icon></ion-button>
        <ion-button
        (click)="selectType(types.walk)"           
        fill="outline"
        [attr.color]="selectedType===types.walk ? 'primary' : 'medium'"
        size="small">
          <ion-icon name="walk"></ion-icon>
        </ion-button>
    </ion-row>

    
  </ion-grid>
</ion-content>
