<ion-header>
  <ion-toolbar>
    <ion-title>Memos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
      <app-translation *ngFor="let tran of translationList" [translation]="tran"></app-translation>
      <ion-text *ngIf="noAnyMemos" color="medium">
          <h4>Add some translation memo to see it here ...</h4>
      </ion-text>
      <ion-text *ngIf="noResults" color="medium">
          <h4>No results with selected filters ...</h4>
      </ion-text>
  </ion-list>

</ion-content>
<ion-footer padding>
  <ion-row>
    <ion-col size="12">
        <ion-searchbar (input)="delaySearch($event.target.value)" placeholder="Type text or location ..." (ionClear)="delaySearch('')"></ion-searchbar>
    </ion-col>
  </ion-row>
    <ion-row slot="secondary">
      <!-- <ion-col size="3" *ngFor="let gr of selectedGroupList | keyvalue">
          <ion-button
           (click)="selectGroup(gr.key)"           
           fill="outline"
           [attr.color]="gr.value ? 'primary' : 'medium'"
           size="small">{{gr.key}}</ion-button>
      </ion-col> -->
      <ion-col size="12">
          <ion-item>
              <ion-select slot="start" posi (ionChange)='applyTypeFilter($event.detail.value)' cancelText="Cancel" okText="Apply">
                <ion-select-option selected value="true">Addresses</ion-select-option>
                <ion-select-option value="false">Places</ion-select-option>
              </ion-select>
          </ion-item>
      </ion-col>
    </ion-row>
  </ion-footer>