<ion-header>
  <ion-toolbar>
    <ion-title>
      Options
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item>
      <ion-icon name="locate" slot="start"></ion-icon>
      <ion-label>Save geolocation with memos</ion-label>
      <ion-toggle color="primary" slot="end" (ionChange)="savingGeolocationClicked($event.detail.checked)" [ngModel]="isSavingGeolocationEnabled"></ion-toggle>
    </ion-item>
  
    <ion-card-content>
      When recognizing text from photo or typing text manually 
      it saves your geolocation to navigate that place later
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-item>
      <ion-icon name="albums" slot="start"></ion-icon>
      <ion-label>Clear memos history</ion-label>
      <ion-button 
      fill="outline" slot="end"
      (click)="clearMemos()"
      [attr.disabled]="isMemosClearEnabled ? false : true"
      [attr.color]="isMemosClearEnabled ? 'primary' : 'medium'">Clear</ion-button>
    </ion-item>
  
    <ion-card-content>
      Removes all saved memos
    </ion-card-content>
  </ion-card>
</ion-content>