<ion-header>
  <ion-toolbar>
    <ion-title>{{title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list >
    
      <ion-item (click)="select(lang.code)"
        *ngFor="let lang of languages"
        [attr.color]="lang.code === selected ? 'primary' : default">
        <ion-label >{{lang.name}}</ion-label>
      </ion-item>
   
  </ion-list>
</ion-content>
